<% 2.times do %>
 	<div class="row">
 		<div class="col-md-2"><p></p></div>
 		<div class="col-md-2">
 		<a href ="/products/<%= @products[0].id %>">
 		<h3><%= @products[0].title %></h3>
 		<img src="<%= @products[0].image %>" width="210">
 		</a>
 		</div>
 		<% @products = @products.rotate %>
 <% end %>
 </div>
 <% 2.times do %>
 	<div class="row">
 		<div class="col-md-2"><p></p></div>
 		<div class="col-md-2">
 		<a href ="/products/<%= @products[0].id %>">
 		<h3><%= @products[0].title %></h3>
 		<img src="<%= @products[0].image %>" width="210">
 		</a>
 		</div>
 		<% @products = @products.rotate %>
 <% end %>
 </div>
 <% 1.times do %>
 	<div class="row">
 		<div class="col-md-4"><p></p></div>
 		<div class="col-md-2">
 		<a href ="/products/<%= @products[0].id %>">
 		<h3><%= @products[0].title %></h3>
 		<img src="<%= @products[0].image %>" width="210">
 		</a>
 		</div>
 		<% @products = @products.rotate %>
 <% end %>
 </div>