<h1>Product ID: <%= @product.id %></h1>
<p>Category: <%= @product.category %></p>
<h2><%= @product.title %></h2>
<img src="<%= @product.image %>" width="300">
<h3><%= @product.sale_status %></h3>
<p>Total: <%= number_to_currency(@product.price) %></p>
<p>Tax: <%= number_to_currency(@product.tax) %></p>
<p>Grand Total: <%= number_to_currency(@product.grand_total) %></p>
<%= @product.total_total.each do |integer| %>
<% @counter = @counter + 1 %>
	<ul>
	<li><%= number_to_currency(integer) %></li>
	</ul>
<% end %>
<a href="/products/<%= @product.id %>/edit">Edit this product</a>
<p>
<a href="/products/<%= @product.id %>" data-method="delete" rel="nofollow" data-confirm="Are you positive?">Delete product</a>
</p>
<hr>
<%= @product.description %>